<h1>BURGER TIME!</h1>
<br>
<h2>BURGERS:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block canEat=true}}
    {{/unless}}
  {{/each}}
</ul>
<br>
<h2>DEVOURED: </h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block canEat=false}}
    {{/if}}
  {{/each}}
</ul> 
<br>
{{!-- Add burgers --}}
<form action="/api/burgers" method="POST">
  <div class="form-group">
    <label for="burgerName">What's your burger, baby?</label>
    <input type="input" style="width: 500px" class="form-control" name="burger_name" devoured="0" id="ca" aria-describedby="burgerChoiceHere"
      placeholder="Your burger here">
  </div>
  <button type="submit" class="btn btn-danger" id="submitButton" >Submit</button>
</form>

{{!-- Erorr: front end not passing the data through to back end. Check form  --}}
