body {background-image: url("https://ak4.picdn.net/shutterstock/videos/17538484/thumb/1.jpg");
background-size: cover;
color: white;
padding-left: 15px;
}

h1 {
   color:red;
  

}


h2 {
   color: olive;
    
}